@{
  Layout = "_Layout";
}

@using WeekThreeTemplate.Models;
@model List<WeekThreeTemplate.Models.TemplateItem>;

<h1>TEMPLATE ITEMS INDEX WEBPAGE</h1>

<p>@Html.ActionLink("Add new item", "Create")</p>